@model IEnumerable<DormDomain.Model.PaymentType>

@{
    ViewData["Title"] = "Типи платежів";
}

<h1>Типи платежів</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Додати тип платежу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PaymentTypeId">Оновити</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PaymentTypeId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
