@model IEnumerable<DormDomain.Model.Faculty>

@{
    ViewData["Title"] = "Факультети";
}

<h1>Факультети</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacultyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dean)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dean)
            </td>
        </tr>
}
        <div class="row">
            <div class="col-3">
                <div id="countByFacultyChart"></div>
            </div>
        </div>

        @section Scripts
        {
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawCharts);

                function drawCharts() {
                    fetch('/api/charts/countByFaculty')
                        .then(response => response.json())
                        .then(data => {
                            const dataTable = new google.visualization.DataTable();
                            dataTable.addColumn('string', 'Факультет');
                            dataTable.addColumn('number', 'Кількість студентів');

                            data.forEach(item => {
                                dataTable.addRow([item.faculty, item.count]);
                         });

                            const options = {
                                title: 'Студенти за факультетами',
                                width: 600,
                                height: 400,
                                legend: { position: 'none' },
                            };

                            const chart = new google.visualization.PieChart(document.getElementById('countByFacultyChart'));

                            chart.draw(dataTable, options);
                        });
                }
            </script>
        }

    </tbody>
</table>
